:root {
    --primary: hsl (180, 90%, 60%)
    --secondary: hsl (0, 90%, 60%)
    --black: #211103;
    --white: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    background-color: var(--primary);
    border:black;
}

h1,
h2,
h3 { line-height: 1.5;
    text-align: center;
    color: turquoise;
}

body,
h1,
h2
h3,
p {
    margin: 0;
}

footer {
    background-color: turquoise;
    position: absolute;
bottom: 0;
left: 0;
right: 0;
}

body {
    position: relative;
}

#profilbild {
    border-radius: 50%;
}