.quiz-box {
    align-items: center;
  
  border-radius: 5px;
  box-shadow: 5px 5px 5px hsl(0, 18%, 91%);
  border-color: black;
border-style: solid;
  
  justify-content: center;
  padding: 0.5rem 1rem;
  position: relative;
}

.card {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  border-color: beige;
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  background-color: lightcoral;
}
.question {
    font-family: sans-serif;
    font-size: 1rem;
    color: darkgray;
    
}

.card__question {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
    
    
  }

  .card__answer {
    display: none;
  }

  .answer-button {
    padding: 0.5rem 1rem;
  border: 2px black
  font-weight: bold;
  font-size: .8rem;
  margin: auto;
  width: 20%;
  border-radius: 12px;
  transition-duration: 0.4s;
  display: block;

  .answer-button:hover {
    color:hsl(10, 18%, 91%)

  }
  
  
  
  
  
  }

  .tags {
    display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  }

  .tag {
    background-color: var(--primary);
    border-radius: 7px;
    color: black;
    margin: 0.5rem;
    padding: 0.5rem;   
  }

  ul {
    text-decoration: none;
} 

.bookmark {
    background: center / contain no-repeat url("./images/bookmark-black.png");
  height: 8rem;
  position: absolute;
  right: 15px;
  top: -50px;
  width: 5rem;
  transform: scale(1);
  transition: all 0.5s ease;
  z-index: 10000;
}


